.site-content.education{
  .post-mixin(){
    p {
      text-indent: 1.5em;
      margin: 0;
      font-size: 24px;
      .read-more{
        text-indent: initial;
        float: right;
        margin-top: 11px;
        font-size: 18px;
      }
    }
    img {
      width: 200px;
      height: auto;
      margin-right: 30px;
      margin-bottom: 10px;
    }
    margin-top: 50px;
    a{
      border-bottom: @border;
    }
    tr:first-child{
      td{
        border-bottom: @border;
        position: relative;
        &:last-child{
          padding-left: 40px;
          min-height: 33px;
          font-size: 32px;
          line-height: 58px;
          padding-top: 20px;
          .slim-caption-bold();
          .date{
            font-size: 16px;
            line-height: initial;
            position: absolute;
            bottom: 10px;
            right: 0;
          }
        }
      }
    }
    td:first-child{
      border-right: @border;
      width: 50px;
    }
    tr:nth-child(2) td:last-child {
      padding: 40px 40px 0;
    }
  }
  .post{
    .alignleft{
      float: left;
    }
    .alignright{
      float: right;
    }
    .aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .post-mixin();
    font-family: @body-font;
    font-size: 18px;
    h1{
      font-size: 32px;
      line-height: 58px;
      margin: 0;
      .caption-normal();
    }
    blockquote{
      padding-left: 25px;
      margin-left: 0;
      border-left: 3px solid #C3C3C3;
      pre{
        font-style: italic;
      }
    }
    pre{
      text-indent: 1.5em;
      font-family: inherit;
      margin-top: 0;
      white-space: pre-wrap;
    }
    a{
      color: #030094;
      border-color: inherit;
    }
  }
  .posts{
    table{
      .post-mixin();
      img{
        float: left;
      }
    }
  }
}